<h3>{{ heading_title }}</h3>
<div class="row"> {% for assessment in assessments %}
  <div class="assessment-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="assessment-thumb transition">
      <div class="image"><a href="{{ assessment.href }}"><img src="{{ assessment.thumb }}" alt="{{ assessment.name }}" title="{{ assessment.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ assessment.href }}">{{ assessment.name }}</a></h4>
        <p>{{ assessment.description }}</p>
        {% if assessment.rating %}
        <div class="rating">{% for i in 1..5 %}
          {% if assessment.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
          {% endfor %}</div>
        {% endif %}
        {% if assessment.price %}
        <p class="price"> {% if not assessment.special %}
          {{ assessment.price }}
          {% else %} <span class="price-new">{{ assessment.special }}</span> <span class="price-old">{{ assessment.price }}</span> {% endif %}
          {% if assessment.tax %} <span class="price-tax">{{ text_tax }} {{ assessment.tax }}</span> {% endif %} </p>
        {% endif %} </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{ assessment.assessment_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ assessment.assessment_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ assessment.assessment_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %} </div>
