{{ header }}

	<input type="hidden" name="assessment_id" value="{{ assessment_id }}" />

		<header class="img-cover standard img" style="background-image: url('catalog/view/theme/shoptheme/img/header2.webp');">
			<div class="filter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ title }}</h1>
						</div>
					</div>
			</div>
		</header>

		<section class="section-register section-7">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h2>{{ title1 }}</h2>
						<p class="subline">{{ title1_subline }}</p>
						<div class="box">
							<div class="item">
								<p class="title">{{ exam }}</p>
								<p class="text">{{ center_name }} - {{ model }}</p>
							</div>
							<div class="item">
								{% if assessment.option %}
								<p class="subtitle">{{ text_option }}</p>
								{% for option in assessment.option %}
									<p class="product">{{ option.name }}</p>
									<a class="edit edit-1" href="">ändern</a>
								{% endfor %}
								{% endif %}
								<p class="subtitle">{{ text_date }}</p>
								<p class="date">{{ date }}</p>
								<a class="edit edit-2" href="">ändern</a>
								<p class="subtitle">{{ text_model }}</p>
								<p class="title">{{ model }}</p>
							</div>
							<div class="item">
								<p class="subtitle">{{ text_location }}</p>
								<p class="title title-2">{{ location }}</p>
								<div class="mapouter">
										<div class="gmap_canvas"><iframe width="100%" height="150" id="gmap_canvas" src="https://maps.google.com/maps?q=Berlin%20Greifswalderstra%C3%9Fe%2021&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a>
									</div>
								</div>
							</div>
							<div class="item last">
								<p class="subtitle">{{ text_payment }}</p>
								<div class="item-box">
									<p class="product">{{ exam }}</p>
									<p class="price">{{ price }}</p>
								</div>
								{% if assessment.option %}
								{% for option in assessment.option %}
								<div class="item-box">
									<p class="product">{{ option.name }}</p>
									<p class="price">{{ option.price }}</p>
								</div>
								{% endfor %}
								{% endif %}

								<div class="item-box last">
									<p class="total">{{ total }}</p>
									<p class="total-price">{{ price }}</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<h2>{{ title3 }}</h2>
								<p class="subline">{{ title3_subline }}</p>
							</div>

							<div class="col-md-6">
								<div class="register-box">
									<p class="title">{{ text_new_customer }}</p>
									<p class="text">{{ text_register_account }}</p>
								<a href="{{ link_register }}"><div class="button">{{ text_register }}</div></a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="login-box">
									<p class="title">{{ heading_title }}</p>
									<form>
										<input name="email" value="" placeholder="{{ entry_email }}" id="input-email" type="text">
										<input name="password" value="" placeholder="{{ entry_password }}" id="input-password" type="password">
										<a href="{{ forgotten }}" class="passwort">{{ text_forgotten}}</a>
										<a href="{{ link_cart }}"><input value="{{ button_login }}" id="button-login" data-loading-text="{{ text_loading }}" type="submit"></a>
									</form>
								</div>
							</div>


						</div>
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									<div onclick="history.back()" class="button small back">Back</div>
								</div>
							</div>
						</div>

					</div>
					
				</div>
			</div>
		</section>

		

		{# <section class="nav-section last">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<a href=""><div class="button small back">Back</div></a>
					</div>
					<div class="col-md-6">
						<a href=""><div class="button small next">Continue to registration</div></a>
					</div>
				</div>
			</div>
		</section> #}



	
{{ footer }} 
