{{ header2 }}

      {% if parent %}
        <section class="section-4 first">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                {% if thumb %}
                  <div class="img-contain img"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
                {% else %}
                  <div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/test.webp');"></div>
                {% endif %}
                <h1>{{ heading_title }}</h1>
                {# <a href=""><div class="button small">Termin Buchen</div></a> #}
              </div>
              <div class="offset-md-2 col-md-6">
                <div class="text-box">
                  <p class="title">Ideal für:</p>
                  <p>Einstieg in die Berufswelt</p>
                  <p>Berufsschüler und Berufstätige</p>
                </div>
                {# <div class="text-box">
                  <p class="title">Produktinformation</p>
                  <div class="list-box">
                    <div class="list-1">
                      <p>Verfügbarkeit:</p>
                      <p>Artikelnr.:</p>
                      <p>Hersteller</p>
                      <p>Bewertung</p>
                    </div>
                    <div class="list-2">
                      <p>Auf Lager</p>
                      <p>ISBN: 2342112324</p>
                      <p>ETS</p>
                      <p>Nicht bewertet</p>
                    </div>
                  </div>
                </div>
                <p class="price">30,00€</p>
                <p class="old-price">45,00€</p> #}
              </div>
            </div>
          </div>
        </section>
        {% if description %}
        <section class="section-5">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>{{ description }}</p>
              </div>
            </div>
          </div>
        </section>
        {% endif %}
              
      {% endif %}

      {% if exams %}

        {% if exams|length <= 5 %}
        <section class="section-1 first">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>{{ heading_title }}</h2>
                <div class="slider-container">
                  <div class="owl-carousel owl-theme test">
                  {% for exam in exams %}                

                    <div class="item">
                      <a href="{{ exam.href }}">
                        <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/test2.webp');">
                          <div class="filter">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </div>
                        </div>
                      </a>
                      <div class="text-box">
                        <p class="title">{{ exam.name }}</p>
                        {# <p class="subline">Step 1</p> #}
                        <div class="price-box">
                          <p class="price">{{ exam.price }}</p>
                          {# <p class="price-old">45,00€</p> #}
                        </div>
                        {# <a href=""><div class="button small">In den Warenkorb</div></a> #}
                      </div>
                    </div>
                  {% endfor %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        {% else %}
        {% for exam in exams|batch((exams|length / 4)|round(1, 'ceil')) %}
        <section class="section-1 first">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>{{ exam.name }}</h2>
                <div class="slider-container">
                  <div class="owl-carousel owl-theme test">
                  {% for child in exam %}                

                    <div class="item">
                      <a href="{{child.href }}">
                        <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/test2.webp');">
                          <div class="filter">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </div>
                        </div>
                      </a>
                      <div class="text-box">
                        <p class="title">{{ child.name }}</p>
                        {# <p class="subline">Step 1</p> #}
                        <div class="price-box">
                          <p class="price">{{ child.price }}</p>
                          {# <p class="price-old">45,00€</p> #}
                        </div>
                        {# <a href=""><div class="button small">In den Warenkorb</div></a> #}
                      </div>
                    </div>
                  {% endfor %}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endfor %}
        {% endif %}

      {% endif %}

      {% if assessments %}

        <section class="section-6">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="filter">
                  <select id="filter-city" name="filter_city" onchange="location = this.value;">
                    <option value="default">{{ text_model }}</option>
                    {% for city in cities %}
                      <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                  </select>
                  <select id="filter-month" name="filter_month" onchange="location = this.value;">
                    <option value="default">{{ text_month }}</option>
                    {% for month in months %}
                      <option value="{{ month.number }}">{{ month.layout }}</option>
                    {% endfor %}
                  </select>
                  {# <button type="button" class="btn" onchange="location = this.value;">
                    {{ button_filter }}
                  </button> #}
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-head">
                  <div class="col-3">{{ text_name }}</div>
                  <div class="col-2">{{ text_model }}</div>
                  <div class="col-2">{{ text_date }}</div>
                  <div class="col-2">{{ text_price }}</div>
                  <div class="col-3">{{ text_action }}</div>
                </div>
                {% for assessment in assessments %}
                <div class="table-item">
                  <div class="col-3">{{ assessment.name }}</div>
                  <div class="col-2">{{ assessment.model }}</div>
                  <div class="col-2">{{ assessment.date }}</div>
                  <div class="col-2">{{ assessment.price }}</div>
                  <div class="col-3">
                    <a href="{{ assessment.href }}"><div class="button small">{{ registration }}</div></a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% if not exams and not assessments %}
        <section class="section-5">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>{{ text_empty }}</p>
                <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}


{{ footer }} 
