{{ header }}

		<header class="img-cover standard img" style="background-image: url('catalog/view/theme/shoptheme/img/kontakt.webp');">
			<div class="filter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ heading_title }}</h1>
						</div>
					</div>
			</div>
		</header>

		<section class="section-form section-kontakt last">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>{{ text_contact_us }}</h2>
						<p class="text">{{ text_we_answer}}</p>
					</div>
					<div class="col-md-5">
						<input class="register" type="email" placeholder="{{ entry_email }}">
						<input class="register" type="text" placeholder="{{entry_name }}">
						<textarea placeholder="{{ entry_enquiry }}"></textarea>
						<input class="button small" value="{{ submit }}" type="submit">
					</div>
					<div class="col-md-6 offset-md-1">
						<div class="item">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<a href="tel:+4903042082440">
								<p>{{ telephone }}</p>
							</a>
						</div>
						<div class="item">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<a href="mailto:office@language-testing-service.de">
								<p>office@language-testing-service.de</p>
							</a>
						</div>
						<div class="item">
							<i class="fa fa-location-arrow" aria-hidden="true"></i>
							<div class="text">
								<p class="title">{{ store }}</p>
								<p>{{ address }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{{ footer }}
