<h3>{{ heading_title }}</h3>
<div class="row assessment-layout">{% for assessment in assessments %}
  <div class="col-lg-3 col-md-3s col-sm-6 col-xs-12">
    <div class="assessment-thumb transition">
      <div class="image"><a target="_blank" href="{{ assessment.href }}"><img src="{{ assessment.thumb }}" alt="{{ assessment.name }}" title="{{ assessment.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <p><a href="{{ assessment.href }}">{{ assessment.name }}</a></p>
        <p class="price">{{ assessment.price }}</p>
      </div>
    </div>
  </div>
  {% endfor %} <img src="{{ tracking_pixel }}" height="0" width="0" /> </div>
