<link rel="stylesheet" href="catalog/view/asset/css/style.css" />


<footer>

  
	<div class="container">
		<div class="row">
			
			<div class="col-md-8">
        {% for information in informations %}
				  <a href="{{ information.href }}">{{ information.title }}</a> &nbsp | &nbsp 
        {% endfor %}
			</div>

      <div class="col-md-4">
				<a href="https://www.language-testing-service.de/" target="_blank">{{ powered }}</a>
				{# <p class="text">{{ powered }}</p> #}
			</div>

		</div>
	</div>
  
</footer>



{# {% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %} #}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>

<script>

$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#assessment input[type=\'text\'], #assessment input[type=\'hidden\'], #assessment input[type=\'radio\']:checked, #assessment input[type=\'checkbox\']:checked, #assessment select, #assessment textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});



$('.owl-carousel.kunde').owlCarousel({
    loop:false,
    center:false,
    margin: 30,
    nav: true,
    dots: false,
    URLhashListener:true,
    autoplay:true,
    autoplayTimeout:10000,
    navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    autoplayHoverPause:true,
    startPosition: 'URLHash',
		responsive: {
      // breakpoint from 0 up
    0 : {
        items:1,
    },
      // breakpoint from 768 up
    768 : {
        items:3,
    }
    }
});

$('.owl-carousel.material-2').owlCarousel({
    loop:false,
    center:false,
    margin: 30,
    nav: true,
    dots: false,
    URLhashListener:true,
    autoplay:true,
    autoplayTimeout:10000,
    navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    autoplayHoverPause:true,
    startPosition: 'URLHash',
		responsive: {
      // breakpoint from 0 up
    0 : {
        items:1,
    },
      // breakpoint from 768 up
    768 : {
        items:3,
    }
    }
});

$('.owl-carousel.material').owlCarousel({
    loop:false,
    center:false,
    margin: 30,
    nav: true,
    dots: false,
    URLhashListener:true,
    autoplay:true,
    autoplayTimeout:10000,
    navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    autoplayHoverPause:true,
    startPosition: 'URLHash',
		responsive: {
      // breakpoint from 0 up
    0 : {
        items:1,
    },
      // breakpoint from 768 up
    768 : {
        items:5,
    }
    }
});

$('.owl-carousel.test').owlCarousel({
    loop:false,
    center:false,
    margin: 30,
    nav: true,
    dots: false,
    URLhashListener:true,
    autoplay:true,
    autoplayTimeout:10000,
    navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    autoplayHoverPause:true,
    startPosition: 'URLHash',
		responsive: {
      // breakpoint from 0 up
    0 : {
        items:1,
    },
      // breakpoint from 768 up
    768 : {
        items:4,
    }
    }
});


$('.owl-carousel.home').owlCarousel({
    items:1,
    loop:true,
    center:false,
    margin: 0,
    nav: false,
    dots: false,
    URLhashListener:true,
    autoplay:true,
    autoplayTimeout:10000,
    navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    autoplayHoverPause:true,
    startPosition: 'URLHash',
});

$(window).scroll(function() {
    if ($(document).scrollTop() > 0) {
      $("#menu").addClass("scroll");
      $("#menu").addClass("logo-box");
    } else {
      $("#menu").removeClass("scroll");
    }
  });

</script>
