{{ header }}
	<header id="home">
	  <div class="slider-container">
	    <div class="owl-carousel owl-theme home">

        <div class="item item-1">
          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/home1.webp');"></div>
            <div class="filter">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 text-container">
                    <div class="text-box">
	                    <h1>{{ text_home1 }}</h1>
                      <p class="text"></p>
	                    <a href="https://www.language-testing-service.de/bewerbung/" target="_blank"><div class="button">{{ text_button }}</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
	        </div>
			<div class="item item-2">
	          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/home1.webp');"></div>
	            <div class="filter">
	              <div class="container">
	                <div class="row">
	                  <div class="col-md-6 text-container">
	                    <div class="text-box">
	                      <h1>{{ text_home2 }}</h1>
	                      <p class="text"></p>
	                      <a href="https://www.language-testing-service.de/studium/" target="_blank"><div class="button">{{ text_button }}</div></a>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
		    </div>
		      

			<div class="item item-3">
	          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/home1.webp');"></div>
	            <div class="filter">
	              <div class="container">
	                <div class="row">
	                  <div class="col-md-6 text-container">
	                    <div class="text-box">
	                      <h1>{{ text_home3 }}</h1>
	                      <p class="text"></p>
	                      <a href="https://www.language-testing-service.de/ausland/" target="_blank"><div class="button">{{ text_button }}</div></a>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
		    </div>
		      

			<div class="item item-4">
	          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/home1.webp');"></div>
	            <div class="filter">
	              <div class="container">
	                <div class="row">
	                  <div class="col-md-6 text-container">
	                    <div class="text-box">
	                      <h1>{{ text_home4 }}</h1>
	                      <p class="text"></p>
	                      <a href="https://www.language-testing-service.de/sprachskills/" target="_blank"><div class="button">{{ text_button }}</div></a>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
		        </div>
		      </div>

		  </div>

      {{ search }}

	</header>
		


    <section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>{{ text_bestsellers }}</h2>
						<div class="slider-container">
							<div class="owl-carousel owl-theme test">
								{% for exam in bestsellers %}
								<div class="item">
									<a href="{{ exam.href }}">
										<div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/bestseller.jpg');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
									<div class="text-box">
										<p class="title">{{ exam.name }}</p>
										<p class="subline"></p>
										{% if exam.price > 0 %}
										<div class="price-box">
											<p class="price">{{ exam.price }}</p><p class="price-old"></p>
										</div>
										{% endif %}
										<a href="{{ exam.href }}"><div class="button small">{{ select }}</div></a>
									</div>
								</div>
								{% endfor %}

					    	</div>
						</div>
					</div>
				</div>
			</div>
	</section>
		
    <section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>{{ text_prep_products }}</h2>
						<div class="slider-container">
					    	<div class="owl-carousel owl-theme material">
								{% for product in products %}
				        		<div class="item">
									<a href="{{ product.href }}">
										{% if product.image %}
										<div class="img-contain img"><img src="{{ product.image }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></div>
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
										{% else %}
					          			<div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/material1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
										{% endif %}
									</a>
                  					<div class="text-box">
                    					<p class="title">{{ product.name }}</p>
                    					<p class="subline">{{ product.model }}</p>
										{% if product.price > 0 %}
										<div class="price-box">
											<p class="price">{{ product.price }}</p><p class="price-old"></p>
										</div>
										{% endif %}
                    					<a href="{{ product.href }}"><div class="button small">{{ select }}</div></a>
                  					</div>
				        		</div>
								{% endfor %}

					    	</div>
						</div>
					</div>
				</div>
			</div>
	</section>
		
    <section class="section-2 last">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>{{ reference }}</h2>
						<div class="slider-container">
					    <div class="owl-carousel owl-theme kunde">
				        <div class="item">
									<div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/kunde1.webp');"></div>
									<div class="text-box">
										<p class="text">{{ reference1 }}</p>
										<div class="line"></div>
										<p class="name">{{ person1 }}</p>
									</div>
								</div>
								<div class="item">
									<div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/kunde2.webp');"></div>
									<div class="text-box">
										<p class="text">{{ reference2 }}</p>
										<div class="line"></div>
										<p class="name">{{ person2 }}</p>
									</div>
								</div>
								<div class="item">
									<div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/kunde3.webp');"></div>
									<div class="text-box">
										<p class="text">{{ reference3 }}</p>
										<div class="line"></div>
										<p class="name">{{ person3 }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{{ footer }}