{{ header }}
	<header id="home">
	  <div class="slider-container">
	    <div class="owl-carousel owl-theme home">

        <div class="item item-1">
          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/home1.webp');"></div>
            <div class="filter">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 text-container">
                    <div class="text-box">
	                    <h1>{{ text_home1 }}</h1>
                      <p class="text"></p>
	                    <a href="https://www.language-testing-service.de/bewerbung/" target="_blank"><div class="button">{{ text_button }}</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
	        </div>
			<div class="item item-2">
	          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/home1.webp');"></div>
	            <div class="filter">
	              <div class="container">
	                <div class="row">
	                  <div class="col-md-6 text-container">
	                    <div class="text-box">
	                      <h1>{{ text_home2 }}</h1>
	                      <p class="text"></p>
	                      <a href="https://www.language-testing-service.de/studium/" target="_blank"><div class="button">{{ text_button }}</div></a>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
		    </div>
		      

			<div class="item item-3">
	          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/home1.webp');"></div>
	            <div class="filter">
	              <div class="container">
	                <div class="row">
	                  <div class="col-md-6 text-container">
	                    <div class="text-box">
	                      <h1>{{ text_home3 }}</h1>
	                      <p class="text"></p>
	                      <a href="https://www.language-testing-service.de/ausland/" target="_blank"><div class="button">{{ text_button }}</div></a>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
		    </div>
		      

			<div class="item item-4">
	          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/home1.webp');"></div>
	            <div class="filter">
	              <div class="container">
	                <div class="row">
	                  <div class="col-md-6 text-container">
	                    <div class="text-box">
	                      <h1>{{ text_home4 }}</h1>
	                      <p class="text"></p>
	                      <a href="https://www.language-testing-service.de/sprachskills/" target="_blank"><div class="button">{{ text_button }}</div></a>
	                    </div>
	                  </div>
	                </div>
	              </div>
	            </div>
		        </div>
		      </div>

		  </div>

      {{ search }}

	</header>
		
    <section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Unsere beliebtesten Tests</h2>
						<div class="slider-container">
					    <div class="owl-carousel owl-theme test">
				        <div class="item">
									<a href="">
					          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/test1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">TOEFL Primary</p>
                    <p class="subline">Step 1</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/test1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">TOEFL Primary</p>
                    <p class="subline">Step 2</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/test1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">TOEFL Primary</p>
                    <p class="subline">Junior</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/test1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">TOEFL Primary</p>
                    <p class="subline">ITP</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-cover img" style="background-image: url('catalog/view/theme/shoptheme/img/test1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">TOEFL Primary</p>
                    <p class="subline">Extra</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</section>
		
    <section class="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Unsere beliebtesten Vorbereitungsprodukte</h2>
						<div class="slider-container">
					    <div class="owl-carousel owl-theme material">
				        <div class="item">
									<a href="">
					          <div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/material1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">Onlinevorbereitung</p>
                    <p class="subline">TOEFL Primary</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/material1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">Onlinevorbereitung</p>
                    <p class="subline">TOEFL Primary</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/material1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">Onlinevorbereitung</p>
                    <p class="subline">TOEFL Primary</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/material1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">Onlinevorbereitung</p>
                    <p class="subline">TOEFL Primary</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/material1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">Onlinevorbereitung</p>
                    <p class="subline">TOEFL Primary</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/material1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">Onlinevorbereitung</p>
                    <p class="subline">TOEFL Primary</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
								<div class="item">
									<a href="">
					          <div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/material1.webp');">
											<div class="filter">
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											</div>
										</div>
									</a>
                  <div class="text-box">
                    <p class="title">Onlinevorbereitung</p>
                    <p class="subline">TOEFL Primary</p>
										<div class="price-box">
											<p class="price">30,00€</p><p class="price-old">45,00€</p>
										</div>
                    <a href=""><div class="button small">In den Warenkorb</div></a>
                  </div>
				        </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</section>
		
    <section class="section-2 last">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Kundenstimmen</h2>
						<div class="slider-container">
					    <div class="owl-carousel owl-theme kunde">
				        <div class="item">
									<div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/kunde1.webp');"></div>
									<div class="text-box">
										<p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
										<div class="line"></div>
										<p class="name">Student, 21 Berlin</p>
									</div>
								</div>
								<div class="item">
									<div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/kunde2.webp');"></div>
									<div class="text-box">
										<p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
										<div class="line"></div>
										<p class="name">Student, 21 Berlin</p>
									</div>
								</div>
								<div class="item">
									<div class="img-contain img" style="background-image: url('catalog/view/theme/shoptheme/img/kunde3.webp');"></div>
									<div class="text-box">
										<p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
										<div class="line"></div>
										<p class="name">Student, 21 Berlin</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{{ footer }}