
			{# <div class="mask">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-md-8">
							<div class="box" id="search">
								<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
								<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div> #}


			<div class="mask">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-md-8">
							<div class="box">
								<p>{{ text_select1 }}</p>
								<select id="position" name="position">
								  <option value="default">{{ text_default }}</option>
							    <option value="option11">{{ option11 }}</option>
							    <option value="option12">{{ option12 }}</option>
							  </select>
								<p>{{ text_select2 }}</p>
								<select id="search" name="search">
								  <option value="default2">{{ text_default }}</option>
							    <option value="option21">{{ option21 }}</option>
							    <option value="option22">{{ option22 }}</option>
							  </select>
								<button type="submit" class="btn header">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
