{{ header }}

		<header class="img-cover standard img" style="background-image: url('catalog/view/theme/shoptheme/img/bestellung.webp');">
			<div class="filter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ heading_title }}</h1>
						</div>
					</div>
			</div>
		</header>

		<section class="section-bestellung">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<h2>{{ title }}</h2>
								<p class="subline">{{ subtitle }}</p>
							</div>
							<div class="col-md-12">
								<div class="box">
									<div class="item item-top">
										<div class="row">
											<div class="col-md-7">
												<p class="first">{{ description }}</p>
											</div>
											<div class="col-md-2">
												<p>{{ price }}</p>
											</div>
											{# <div class="col-md-1">
												<p>Anzahl</p>
											</div> #}
											<div class="col-md-2">
												<p>{{ price_tax }}</p>
											</div>
										</div>
									</div>

									{% for assessment in assessments %}
									<div class="item item-2">
										<div class="row">
											<div class="col-md-7">
												<p class="title">{{ assessment.exam }}</p>
												<div class="row">
													<div class="col-md-4">
														<p class="topline">{{ date }}</p>
														<p class="title-2">{{ assessment.date }}</p>
													</div>
													{# <div class="col-md-3">
														<p class="topline">Ankunftszeit</p>
														<p class="title-2">09:00 Uhr</p>
													</div> #}
													<div class="col-md-4">
														<p class="topline">{{ location }}</p>
														<p class="title-2">{{ assessment.name }}</p>
														<p class="text">{{ assessment.location }}</p>
													</div>
												</div>
											</div>
											<div class="col-md-2">
												<p>{{ assessment.price }}</p>
											</div>
											<div class="col-md-1">
												<p>1</p>
											</div>
											<div class="col-md-2">
												<p>{{ assessment.price }}</p>
											</div>
										</div>
									</div>
									{% if assessment.option %}
                						{% for option in assessment.option %} <br/>
										<div class="item">
											<div class="row">
												<div class="col-md-7">
													<p class="title">{{ option.name }}</p>
												</div>
												<div class="col-md-2">
													<p></p>
												</div>
												{# <div class="col-md-1">
													<p>1</p>
												</div> #}
												<div class="col-md-2">
													<p>{{ option.price }}</p>
												</div>
											</div>
										</div>
										{% endfor %}
									{% endif %}

									{# <div class="item">
										<div class="row">
											<div class="col-md-7">
												<p class="title">TOEIC Online Übungen</p>
											</div>
											<div class="col-md-2">
												<p>100,00 €</p>
											</div>
											<div class="col-md-1">
												<p>1</p>
											</div>
											<div class="col-md-2">
												<p>119,00 €</p>
											</div>
										</div>
									</div> #}

									{% endfor %}

									<div class="item item-total">
										<div class="row">
											<div class="col-md-7">
												<p class="title">{{ total }}</p>
											</div>
											<div class="col-md-2">
												<p>200,00 €</p>
											</div>
											{# <div class="col-md-1">
												<p></p>
											</div> #}
											<div class="col-md-2">
												<p>238,00 €</p>
											</div>

											{# <div class="col-md-12 gutschein">
												<input placeholder="Gutscheincode eingeben" type="text">
												<input value="Einlösen" type="submit">
											</div>
											<div class="col-md-7">
												<p class="title">Total</p>
											</div>
											<div class="col-md-2">
												<p>200,00 €</p>
											</div>
											<div class="col-md-1">
												<p></p>
											</div>
											<div class="col-md-2">
												<p>238,00 €</p>
											</div> #}

										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<input type="checkbox" name="checkbox" id="agb">
									<label for="agb" class="item">
										<div class="circle"></div>
										<p class="title-1">{{ terms_agreement }}</p>
									</label>
							</div>
							<div class="col-md-12">
								<input type="checkbox" name="checkbox" id="datenschutz">
									<label for="datenschutz" class="item">
										<div class="circle"></div>
										<p class="title-1">{{ privacy_agreement }}</p>
									</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="nav-section last">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<a href=""><div onclick="history.back()" class="button small back">{{ back }}</div></a>
					</div>
					<div class="col-md-6">
						<a href=""><div class="button small next">{{ buy }}</div></a>
					</div>
				</div>
			</div>
		</section>

{{ footer }} 
