{{ header }}


		<header class="img-cover standard img" style="background-image: url('catalog/view/theme/shoptheme/img/header2.webp');">
			<div class="filter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ text_register }}</h1>
						</div>
					</div>
			</div>
		</header>

		<section class="section-form section-8 last">
			<form>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
								<div class="col-md-12">
									<h2>{{ text_your_details }}</h2>
								</div>
								<div class="col-md-4">
									<input class="register" type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-payment-firstname">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-payment-lastname">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-payment-email">
								</div>
								<div class="col-md-12">
									<h2>{{ text_your_address }}</h2>
								</div>
								<div class="col-md-4">
									<input class="register" type="text" name="address_1" value="" placeholder="{{ entry_address_1 }}" id="input-payment-address-1">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" name="address_2" value="" placeholder="{{ entry_address_2 }}" id="input-payment-address-2">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" name="city" value="" placeholder="{{ entry_city }}" id="input-payment-city">
								</div>
								<div class="col-md-4">
									<input class="register" type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-payment-postcode">
								</div>
								<div class="col-md-2">
									<input class="register" name="country" value="" placeholder="{{ entry_country }}" id="input-payment-country">
								</div>
								<div class="col-md-12">
									<h2>{{ text_your_password }}</h2>
								</div>
								<div class="col-md-4">
									<input class="register" type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-payment-password">
								</div>
								<div class="col-md-4">
									<input class="register" type="password" name="confirm" value="" placeholder="{{ entry_confirm }}" id="input-payment-confirm">
								</div>
								<div class="col-md-12">
									<h2>{{ newsletter }}</h2>
									<input type="checkbox" name="newsletter" id="newsletter">
										<label for="newsletter" class="item">
											<div class="circle"></div>
											<p class="title-1">{{ entry_newsletter }}</p>
										</label>
								</div>
								<div class="col-md-12">
									<h2>{{ privacy }}</h2>
									<input type="checkbox" name="checkbox" id="privacy">
										<label for="privacy" class="item">
											<div class="circle"></div>
											<p class="title-1">{{ text_agree }}</p>
										</label>
								</div>
								<div class="col-md-12">
										<input class="button small" value="{{ button_continue }}" id="button-register" data-loading-text="{{ text_loading }}" type="submit">
								</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</section>



	
{{ footer }} 
