{{ header2 }}

		{# <header class="img-cover standard img" style="background-image: url('catalog/view/theme/shoptheme/img/datenschutz.webp');">
			<div class="filter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>{{ text_info }}</h1>
						</div>
					</div>
			</div>
		</header> #}

		<section class="section-success last">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>{{ heading_title }}</h2>
						<p class="text">{{ text_error }}</p>
					</div>
				</div>
			</div>
		</section>

    		<section class="nav-section last">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<a href="{{ home_link }}"><div class="button small back">{{ text_home }}</div></a>
					</div>
				</div>
			</div>
		</section>

{{ footer }}
